.container {
  max-width: 768px;
  margin: 0 auto;
  padding: 0 0.625rem;

  @media (width >= 992px) {
    max-width: 992px;
  }

  @media (width >= 1170px) {
    max-width: 1170px;
  }

  @media (width >= 1280px) {
    max-width: 1280px;
  }

  @media (width >= 1560px) {
    max-width: 1560px;
  }
}
