.wrap {
  text-align: center;
  padding: 40px 0;
}

.post-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  max-width: 900px;
  margin-top: 50px;
  margin-inline: auto;
}
